fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
motor
pymongo
asyncpg
psycopg2-binary
python-multipart
email-validator
pytest
httpxpip 